@model UsuariLogin
@section Css {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div>
    <h2>Login</h2>

    <form asp-controller="Usuari" asp-action="Login"  method="post">
        <label>
            Usuario: 
            <input asp-for="Email" name="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </label>
        <br />
        <label>
            Contraseña: 
            <input asp-for="Password" name="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </label>
        <br />

        <input type="submit" name="Enviar" value="Enviar" />
    </form>
</div>
