html {
    font-size: 14px;
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


@media print {
    header{
        display: none;
    }
}

.cesta-producto {
    display: flex;
}

.cesta-producto img {
    width: 150px;
}