html {
    font-size: 14px;
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

table {
    width: 100%;
}

.cesta-total {
    text-align: end !important;
    padding: 5px 0;
    font-size: 2rem;
    font-weight: bold;
}

.buttons > * {
    padding: 10px 15px;
    border-radius: 3px;
    border: 0px;
    background-color: #8f3636;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media print {
    header {
        display: none;
    }
    .none {
        display: none;
    }
}