@font-face {
    font-family: 'pixel-1';
    src: url(fonts/Micro5-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'piexel-2';
    src: url(fonts/Jersey25-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

html {
    font-size: 14px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #FBFBFF;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
