@model List<Producto>
@using CestaDeCompra.Data;

@{

    ProductoRepo productoRepo = new();

    if(Model.LongCount() == 0)
    {
        <h1>Cesta vacía</h1>

        <button><a asp-controller="Producto" asp-action="Index">Seguir comprando</a></button>
    }
    else
    {
        // foreach (Producto p in Model)
        // {
        //     <h1>@p.Nombre</h1>
        // }

        var cantidades = new Dictionary<string, int>();

        foreach(Producto p in Model)
        {
            if (!cantidades.ContainsKey(p.Codigo))
            {
                cantidades[p.Codigo] = 0;
            }
            cantidades[p.Codigo] = cantidades[p.Codigo] + 1;
        }

        foreach(KeyValuePair<string, int> cnt in cantidades)
        {
            Producto p = productoRepo.GetProducto(cnt.Key);

            <div class="cesta-producto">
                <img class="cesta-producto-img" src="/Img/@p.ImgNom" />
                <p class="esta-producto-name">@p.Nombre</p>
                <p class="esta-producto-price">@p.Precio</p>
                <form action="/" method="post">
                    <input type="number" name="cantidad" value="@cnt.Value" />
                    <input type="submit" name="update" value="Actualizar" />
                </form>
            </div>

        }

    }
}
