@model List<Producto>

<h1>Productos</h1>

<div class="cards">
@{
    foreach(var p in Model)
    {
        <figure class="card">
            <img class="fig-img-product" src="/img/@p.ImgNom" />
            <div class="info-producto">
                <p class="name-product">@p.Nombre</p>
                <p class="price-product">@p.Precio</p>
            </div>
            <form asp-controller="Producto" asp-action="Guardar" method="get" >
                <input type="hidden" name="productCode" value="@p.Codigo" />
                <input type="submit" name="btn" class="btn-cesta" value="Añadir a la cesta" />
            </form>
            <span>@ViewData["cod"]</span>
        </figure>
    }
}

</div>

