@model List<Producto>


<h1>Productos</h1>

@{
    foreach(var p in Model)
    {
        <figcaption class="card">
            <img src="/img/@p.ImgNom" />
            <caption>@p.Nombre</caption>
            <button>Comprar</button>
        </figcaption>
    }
}


